body {
    background-color: #003b5d;
}
img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    object-position: auto;
}
.flex-container img {
   display: flex;
   flex-direction:row;
   width: flex;
}

